.idea/
*.sln.docstates
*.suo
*.user
*.userosscache

bin/
obj/
[Bb]in/
[Oo]bj/

appsettings.Development.json
appsettings.Local.json
secrets.json

src/Api/wwwroot/uploads/**/*
!src/Api/wwwroot/uploads/.gitkeep

.DS_Store
Thumbs.db